.header {
  height: 80px;
  border-bottom: solid 1px #fff;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-top: 30px;
  margin-left: 104px;
  margin-bottom: 26px;
  color: #fff;
}

.header__buttons {
  margin-right: 104px;
  margin-top: 19px;
}

.header__buttens-home {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 3px #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.header__buttons-signin {
  padding: 0;
  margin: 0;
  margin-left: 42px;
  width: 174px;
  height: 48px;
  border-radius: 100px;
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
